:root {
    --background-color: #F6F4D2;
    --primary-color: #CC2936;
    --secondary-color: #08415C;
    --accent1: #657153;
    --accent2: #FF934F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: black;
}



/*----------Index CSS------------*/

/*Index mobile view*/

header {
    font-family: "Ballet", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.header-span {
    position: relative;
    display: block;
    background: url("/final project/images/barbershop-front.webp") no-repeat center/cover;
    padding: 10rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: larger;
}

.header-span img {
    width: 100%;
    height: auto;
    position: relative;
}

.header-span h1 {
    position: absolute;
    font-size: larger;
    padding: 0.5rem;
    color: #fff;
}

main, footer {
    font-family: "Newsreader", serif;
    font-style: normal;
}


footer {
    margin-top: 2rem;
    display: block;
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
    align-items: center;
    font-size: larger;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

/*Index 720p view*/

@media screen and (min-width: 720px){

}

/*Index 1080p view*/

@media screen and (min-width: 1080px){

}

/*index 1440p view*/

@media screen and (min-width: 1440px){

}


/*----------History CSS-----------*/

/*History mobile view*/

/*History 720p view*/

/*History 1080p view*/

/*History 1440p view*/


/*-----------Products CSS---------*/

/*Products mobile view*/

/*Products 720p view*/

/*Products 1080p view*/

/*Products 1440p view*/

