:root {
    --background-color: #F6F4D2;
    --primary-color: #CC2936;
    --secondary-color: #08415C;
    --accent1: #657153;
    --accent2: #FF934F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: black;
}

header {
    font-family: "Ballet", cursive;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    border-radius: 0 0 1rem 1rem;
    font-size: smaller;
    display: flex;
    justify-content: space-between;
}

.header-span {
    position: relative;
    display: block;
    /* background: url("/final project/images/barbershop-front.webp") no-repeat center/cover; */
    padding: 10rem;
    margin-bottom: 2rem;
    text-align: center;
}

.header-span img {
    width: 100%;
    height: auto;
    position: relative;
}

.header-span h1 {
    position: absolute;
    font-size: larger;
    padding: 0.5rem;
    color: #fff;
}

#menu {
    outline: none;
    border: none;
    background: transparent;
    font-size: 2rem;
    border: 0;
    padding: 0.3rem;
}

#menu:focus {
    outline: none;
}

#menu::before {
    content: "☰";
    background: var(--primary-color);
    border: 0;
}

#menu.open::before {
    content: "X";
    background-color: var(--primary-color);
}

.open a {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
}

.purpose-section {
    background-color: var(--accent1);
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
     color: white;
}

.scenario-content {
    margin: 1.5rem;
}

.changed-view {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.desktop-text{
    display: none;
}

main, footer {
    font-family: "Newsreader", serif;
    font-style: normal;
}

.purpose-section {
    margin: 3rem 0;
    padding: 0 2rem;

}


footer {
    margin-top: 2rem;
    padding-top: 1rem;
    display: block;
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
    align-items: center;
    font-size: larger;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}


@media screen and (min-width: 1080px){
    .mobile-text {
        display: none;
    }
    .desktop-text {
        display: inline-block;
    }

    h1 {
        align-items: center;
        font-size: 3rem;
    }
}