/* Color pallete: 393E41  D3D0CB  E2C044  587B7F  1E2019  */
:root {
    --background-color: #1E2019;
    --primary-color: #587B7F;
    --font-color: #D3D0CB;
    --secondary-color: #393E41;
    --vibrant-color: #E2C044;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    align-items: center;
    background-color: var(--primary-color);
    margin-bottom: 2rem;
}

span {
    display: block;
    background-color: var(--secondary-color);
    text-align: center;
    font-size: larger;
    margin-top: 0;
    padding: 4rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

nav a {
    color: var(--font-color);
    transition: color 1s;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: var(--vibrant-color);
}

main {
    border: 1px solid var(--font-color);
    border-radius: 2rem;
}

h2 {
    display: block;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 2rem 2rem 0 0;
    padding: 1rem;
    margin-bottom: 1rem;
}

p {
    max-width: 100rem;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 0 2rem 0 2rem;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 60rem;
    margin: 1rem;
}

.texture {
    margin-right: 1rem;
}

aside {
    max-width: 30rem;
    border: 1px solid var(--font-color);
    border-radius: 2rem;
}

.aside-text {
    margin: 1rem;
}

.aside-links {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 0.5rem;
    margin-left: 2rem;
}

.aside-links a {
    color: var(--font-color);
    transition: color 1s;
    text-decoration: none;
}

.aside-links a:hover{
    text-decoration: underline;
    color: var(--vibrant-color);
}

footer {
    margin-top: 2rem;
    display: block;
    background-color: var(--secondary-color);
    text-align: center;
    align-items: center;
    font-size: larger;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
