:root {
    --primary-color: #B8D8D8;
    --secondary-color: #4F6367;
    --accent1: #FE5F55;
    --accent2: #EEF5DB;
}

form {
    max-width: 50%;
}

body {
    font-family: "Alan Sans", sans-serif;
    font-style: normal;
}

main {
    background-color: var(--secondary-color);
}

.form-section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem 1rem;
}

fieldset {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    color: black;
    background-color: var(--primary-color);
}

.stars {
    row-gap: 1.5rem;
}

.radio-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input[type='radio'] { 
    transform: scale(1.5); 
}

input[type='checkbox'] {
    transform: scale(1.5);
}

.form-section label {
  display: inline-flex; 
  align-items: center; 
  gap: 1rem; 
}


footer {
    margin-top: 2rem;
    display: block;
    background-color: var(--accent1);
    text-align: center;
    align-items: center;
    font-size: larger;
    color: black;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

@media screen and (min-width: 720px){

    input[type='radio'] { 
     transform: scale(1.5); 
    }

    input[type='checkbox'] {
        transform: scale(2);
    }

    .stars {
        row-gap: 4rem;
    }

    .form-section {
        margin: 1.5rem 1.5rem;
    }

    .radio-item {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .form-section label {
        gap: 3rem; 
    }
}