:root {
    --background-color: #DCCCA3;
    --primary-color: #2D2D2A;
    --dark-font-color: black;
    --light-font-color: #fff;
    --secondary-color: #3F5E5A;
    --vibrant-color: #F18805;
}

/*Old dark font color #38423B */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-style: normal;
}


header {
    background-color: var(--vibrant-color);
    color: var(--dark-font-color);
    text-align: center;
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

}

.hero-display {
    position: relative;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.info-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 2rem 0 2rem 0;
    padding: 5rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    color: var(--light-font-color);
}

.info-section-weather {
    margin: 2rem 0 2rem 0;
    padding: 5rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    color: var(--light-font-color);
}

.weather-header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

picture, picture img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

table {
    border-spacing: 1.5rem 0;
    font-size: small;
}

footer {
    margin-top: 2rem;
    display: block;
    background-color: var(--vibrant-color);
    text-align: center;
    align-items: center;
    font-size: larger;
    color: var(--dark-font-color);
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

@media screen and (min-width: 500px){
    main {
        margin: 0 1rem 0 1rem;
        position: relative;
    }

    picture, picture img {
        position: relative;
    }

    .main-content {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr;
        opacity: 0.8;
    }

    .weather-header::before {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    table {
        border-spacing: 1.5rem 0;
        font-size: larger;
    }

}